body{
    background:linear-gradient(rgb(135, 189, 250),white,rgb(135, 189, 250),white,rgb(135, 189, 250));
    font-family: 'Instrument Serif', serif;
}
.div_header{
    font-size: 30px;
    background: white;
    padding: 7px;
}
.div_footer{
    color:darkblue;
    background: white;
    width: 100%;
    line-height: 3;
    bottom: 0;
    position: fixed;
    font-size: 22px;
}
.div_main{
    font-size: 20px;
}
#start{
    font-size: 150%;
}
#hear{
    border: lightgreen solid 5px;
}
.div_header p{
    font-size: 22px;

}